html, body {
  margin: 0;
  height: 100%;
  color: rgba(0, 0, 0, .65);
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}
a, a:focus, a:hover {
  cursor: pointer;
  color: #409EFF;
  text-decoration: none;
}
#app {
  min-height: 100%;
}
p {
  line-height: 1.5;
}
