html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
  background: #f4f4f4;
}
a, a:focus, a:hover {
  cursor: pointer;
  color: #409EFF;
  text-decoration: none;
}

.list {
  em {
    color: red;
    font-style: normal;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #abb6c7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #abb6c7;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #abb6c7;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #abb6c7;
}
