html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
  background: #f4f4f4;
}
a, a:focus, a:hover {
  cursor: pointer;
  color: #409EFF;
  text-decoration: none;
}

.list {
  em {
    color: red;
    font-style: normal;
  }
}

//  transition
.move-up-enter-active, .move-up-leave-active {
  transition: all .3s ease .3s;
}
.move-up-enter, .move-up-leave-to {
  opacity: 0;
}

// 动画渐变
div, span, a {
  transition: all .3s;
}
