.bin-menu-horizontal {
  height: 64px;
  line-height: 64px;
}
.bin-menu-horizontal.bin-menu-light:after {
  display: none;
}
//  表格
.bin-table-wrapper {
  border: none;
  .bin-loading {
    border: none;
  }
}

.bin-table-small .bin-table-cell, .bin-table-small .bin-button--text {
  font-size: 12px;
}

.bin-select-disabled .bin-select-selection {
  background-color: #f9f9f9;
  .bin-select-selected-value {
    color: #6b6b6b;
  }
}
