///* 改变 icon 字体路径变量，必需 */
//$font-path = '~bin-ui/src/styles/fonts';
///* 改变主题色变量 */
//$color-primary = #722ed1;
//$color-success = #7cb305;
//$color-warning = #faad14;
//$color-danger = #eb2f96;
//
//$border-base-radius = 4px;
//
//@import '~bin-ui/src/styles/index.styl'

.bin-menu-horizontal {
  height: 64px;
  line-height: 64px;
}
.bin-menu-horizontal.bin-menu-light:after {
  display: none;
}

.bin-table-cell [t-ellipsis] {
  text-align: left;
}

.tags-view-container {
  .bin-tabs-wrapper {
    .nav-wrapper {
      height: 32px;
      .tab-item {
        height: 32px;
        line-height: 32px;
        background: #fff;
        border-radius: 3px;
        border: none;
        margin-right: 6px;
        color: #808695;
        &::before {
          content: none;
        }
        &:hover {
          color: #515a6e;
        }
        &.active {
          color: #1089ff;
        }
      }
    }
  }
  .bin-tabs-wrapper.tag .nav-wrap.is-scrollable .nav-next,
  .bin-tabs-wrapper.tag .nav-wrap.is-scrollable .nav-prev {
    line-height: 32px;
  }
}
