// 菜单栏紧凑一些
.bin-menu-vertical .bin-menu-item, .bin-menu-vertical .bin-menu-submenu-title {
  padding: 10px 24px;
}

.bin-menu-horizontal {
  height: 64px;
  line-height: 64px;
}
.bin-menu-horizontal.bin-menu-light:after {
  display: none;
}
