.detail-wrap {
  width: 1300px;
  margin: 20px auto;
  .top-box {
    position: relative;
    background: #fff;
    border: 1px solid #f3f6fc;
    border-radius: 10px;
    margin-bottom: 20px;
    &.faren {
      background: #fff url("../images/faren-bg.png") no-repeat 0 0;
    }
    &.ziranren {
      background: #fff url("../images/ziranren-bg.png") no-repeat 0 0;
    }
    .inner {
      padding: 30px 42px;
      border-bottom: 1px solid #f3f6fc;
    }
    .search-count {
      background: #f3f6fc url("../images/query-bg.png") no-repeat center 5px;
      padding: 30px 10px 10px;
      border-radius: 5px;
      font-size: 12px;
      text-align: center;
      color: #445e83;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .right {
      padding: 0 40px;
      .icon {
        padding-left: 40px;
        background-repeat: no-repeat;
        background-position: 0 0;
        line-height: 24px;
        background-image: url("../images/icon-1.png")
        &.icon-1 {
          background-image: url("../images/icon-1.png")
        }

        &.icon-2 {
          background-image: url("../images/icon-2.png")
        }

        &.icon-3 {
          background-image: url("../images/icon-3.png")
        }

        &.icon-4 {
          background-image: url("../images/icon-4.png")
        }

        &.icon-5 {
          background-image: url("../images/icon-5.png")
        }

        &.icon-6 {
          background-image: url("../images/icon-6.png")
        }

        &.icon-7 {
          background-image: url("../images/icon-7.png")
        }

        &.icon-8 {
          background-image: url("../images/icon-8.png")
        }

        &.icon-9 {
          background-image: url("../images/icon-9.png")
        }
      }
    }
    .title-name {
      margin: 0 0 20px;
      font-weight: 500;
      color: #042f63;
      font-size: 24px;
      .status {
        position: relative;
        top: 2px;
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        font-weight: normal;
        color: #36d8da;
        border: 1px solid #36d8da;
        border-radius: 4px;
        padding: 2px 5px;
      }
    }
    .pn-box {
      padding: 15px 42px;
    }

    .btn {
      display: inline-block;
      cursor: pointer;
      line-height: 45px;
      border-radius: 20px;
      padding: 0 20px 0 40px;
      background-color: #f9f9f9;
      background-repeat: no-repeat;
      background-position: 12px 7px;
      color: #445e83;

      &.red {
        background-image url("../images/redname.png");
      }

      &.black {
        background-image url("../images/blackname.png");
      }
    }

    .download {
      background: #f8fbfd url("../images/icon-download.png") no-repeat 15px 2px;
      line-height: 45px;
      border-radius: 20px;
      padding: 0 20px 0 60px;
      color: #1f7af6;
    }
  }

  .info-box {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;

    .classify {
      padding: 0 35px;

      span {
        position: relative;
        display: inline-block;
        line-height: 54px;
        padding: 0 15px;
        color: #8294b1;
        font-size: 16px;
        cursor: pointer;

        &:after {
          position: absolute;
          display: none;
          content: '';
          bottom: 0;
          left: 50%;
          width: 30px;
          height: 2px;
          margin-left: -15px;
          background #2f8bfd;
        }

        &.active {
          color: #042f63;
          font-weight: bold;

          &:after {
            display: block;
          }
        }
      }
    }

    .tabs {
      padding: 10px 20px;
      background #f3f6fc;
      text-align: right;

      .tab {
        display: inline-block;
        cursor: pointer;
        padding: 10px 22px;
        border-radius: 20px;
        color: #445e83;
        margin-left: 6px;

        &.active {
          background-color: #1f7af6;
          color: #fff;
        }
      }
    }

    .float-tab {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
      margin-left: -121px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      overflow: hidden;

      .item {
        background: #fafcff;
        width: 100%;
        padding: 10px 12px;
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        font-size: 12px;
        color: #aeb8c7;

        p {
          margin: 0;
          line-height: 25px;
        }

        &.normal {
          color: #445e83;
          cursor: pointer;
        }

        &.active {
          color: #ffffff;
          background: #1f7af6;
        }
      }
    }

    .classify-box {
      padding: 20px 46px;
      min-height: 800px;
    }
  }

  .classify-box {
    .comp-list {
      min-height: 240px;

      .title {
        margin: 0;
        text-align: center;
        line-height: 40px;
        background: #fbfbfa;
        font-weight: normal;
        color: #445e83;
      }

      .left, .right {
        border: 1px solid #f5f7fd;
        border-radius: 15px;
        overflow: hidden;
      }

      .left {
        width: 382px;

        .list {
          p {
            margin: 0;
            line-height: 25px;
          }
        }
      }

      .right {
        width: 800px;
      }

      .org-tag {
        padding: 12px 22px;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        background: #63c6fa;
      }
    }

    .page-wrap {
      padding: 15px 0;
      text-align: right;
    }
  }
}

.detail-pn-wrap {
  .detail-wrap {
    width: 1300px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    .top-box {
      padding: 30px 42px;
      border-bottom: 1px solid #eeeeee;
      border-radius: 0;
    }
    .info-box {
      border: none;
      border-radius: 0;
      h2 {
        font-weight: bold;
        margin: 0;
        text-align: center;
        color: #042f63;
        margin-bottom: 20px;
      }
      .tabs {
        padding: 0;
        text-align: left;
        background: #fff;
        span {
          display: inline-block;
          cursor: pointer;
          margin-right: 10px;
          margin-bottom: 10px;
          border: 1px solid #dfdfdf;
          padding: 10px 20px;
          border-radius: 4px;
          color: #666666;
          &.active {
            background: #1ba6ee;
            border-color: #1ba6ee;
            color: #fff;
          }
        }
      }
    }
  }
}
