.app-wrap {
  height: 100%;
  .scroll-box {
    height: 100%;
    overflow: auto;
    .index-wrap {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      .main-wrap {
        flex: 1;
      }
    }
  }
}
