.urp-main-detail {
  height: 100%;
  background: #f7f7f7;
  .list-result-wrap {
    width: 1300px;
    margin: 0 auto 24px;
    .bin-breadcrumb {
      padding: 16px 0;
    }
    .list-counts {
      padding: 24px;
      background: #fff;
      display: flex;
      margin-bottom: 24px;
      .item {
        display: flex;
        align-items: center;
        width: 33.33%;
        padding: 0 32px;
        border-right: 1px solid #eee;
        &:last-child {
          border-right: none;
        }
        img {
          margin-right: 32px;
          width: 47px;
          height: 46px;
        }
        h4 {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 4px;
        }
        span {
          font-size: 22px;
        }
      }
    }
    .result-detail-box {

    }
  }
}
