.app-wrapper.theme-dark {
  .sidebar-container {
    background-color: #001529;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    .logo {
      background: #002140;
      h1 {
        color: #ffffff;
      }
    }
  }
}
