// 1: 横向滚动条隐藏
#app .bin-scrollbar__wrap {
  overflow-x: hidden;
}
// 2:menu行高设置
.side-menu-wrapper .bin-menu {
  line-height: 2em;
  .bin-menu-item, .bin-menu-submenu-title span, .bin-menu-submenu-title {
    > i:not(.icon-ios-arrow-down) {
      position: relative;
      top: -2px;
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.bin-drawer-wrapper .drawer-box {
  .header {
    padding: 19px 16px;
  }
  .body {
    height: calc(100% - 125px);
  }
}
// 2: 按钮间隔
.bin-button + .bin-button {
  margin-left: 10px;
}

.bin-tree ul li {
  margin: 0;
  line-height: 26px;
}
.bin-tree-arrow {
  line-height: 24px;
  .icon-ios-arrow-forward {
    position: relative;
    top: -1px;
  }
}
.bin-tree-title {
  padding: 0 6px;
  line-height: 24px;
}
.bin-tree-title:hover {
  background-color: #e6f7ff;
}
.bin-tree-title-selected, .bin-tree-title-selected:hover {
  background-color: #1890ff;
  color: #fff;
}
