// 1: 横向滚动条隐藏
#app .bin-scrollbar__wrap {
  overflow-x: hidden;
}

.bin-drawer-wrapper .drawer-box {
  .header {
    padding: 19px 16px;
  }
  .body {
    height: calc(100% - 125px);
  }
}
// 2: 按钮图标右间距
.bin-button .iconfont {
  margin-right: 4px;
}
//  表格
.bin-table-wrapper {
  .bin-loading {
    border: none;
  }
}
.bin-table-cell {
  padding: 0 8px;
}
