.sidebar-container {
  .el-menu {
    border: none;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
  }
  // 1.1：菜单左侧图标
  .el-submenu .iconfont, .el-menu-item .iconfont {
    margin-left: 4px;
    font-size: 18px;
  }
  // 1.2：菜单文字样式
  .el-menu-item span, .el-submenu .el-submenu__title span {
    margin-left: 10px;
  }

  // 1.3：菜单收缩后的样式
  .el-menu--collapse {
    min-height: 100%;
    .el-submenu, .el-menu-item {
      .iconfont {
        margin-left: 0;
        font-size: 20px;
      }
    }
  }

  // 1.4：悬停样式
  .el-submenu__title, .el-menu-item {
    height: 45px;
    line-height: 45px;
  }
  .el-submenu {
    .el-menu-item {
      height: 45px;
      line-height: 45px;
    }
  }
}

//  全局的竖向菜单栏
.el-menu--vertical {
  .el-submenu__title, .el-menu-item {
    height: 45px;
    line-height: 45px;
  }
  .el-menu-item span, .el-submenu .el-submenu__title span {
    margin-left: 10px;
  }
}


