$color-primary = #1890ff;
$font-base = #aeaeae;

.theme-dark {
  .menu-dropdown {
    background: #001529;
    .drop-menu-a, .bin-dropdown-item {
      color: #bfbfbf;
    }
    .bin-dropdown-item:hover {
      background: #001529;
      color: #fff;
    }
    .bin-dropdown-item-selected {
      background: $color-primary;
      color: #fff;
      &:hover {
        background: $color-primary;
        color: #fff;
      }
    }
  }
}
