.theme-light {
  .layout-aside {
    background: #ffffff;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    .logo h1 {
      color: #002140;
    }
    .bin-menu-horizontal.bin-menu-light:after, .bin-menu-vertical.bin-menu-light:after {
      display: none;
    }
    a.drop-menu-a {
      color: rgba(0, 0, 0, .65);
    }
  }
  .layout-header {
    background: #ffffff;
    .top-nav-header {
      .logo h1 {
        color: #002140;
      }
      .dropdown-trigger {
        color: hsla(0, 0, 0, .65);
        &:hover {
          background: rgba(0, 0, 0, .025);
        }
      }
    }
  }
}
