.basic-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex: auto;
  flex-direction: column;
  background: #f5f7f9;
  &-has-aside {
    flex-direction: row;
  }
  &-aside {
    background: #001529;
    transition: all .2s;
    position: relative;
    z-index: 10;
    min-height: 100%;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    &.fixed-aside {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow: hidden;
      box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
      &:hover {
        overflow-y: auto;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .logo {
      position: relative;
      width: 100%;
      height: 65px;
      overflow: hidden;
      padding-left: 18px;
      border-bottom: 1px solid rgba(0, 21, 41, .05);
      .icon {
        height: 32px;
      }
      h1 {
        font-size: 20px;
        margin: 0 0 0 12px;
        white-space: nowrap
        color: #fff;
      }
    }
    &-children {
      padding: 16px 0;
    }
    // 收起菜单样式
    .menu-collapsed .bin-dropdown, .menu-collapsed .bin-dropdown .bin-dropdown-rel a,
    .menu-collapsed .bin-tooltip, .menu-collapsed .bin-tooltip .bin-tooltip-rel {
      width: 100%;
    }
    a.drop-menu-a {
      display: inline-block;
      padding: 10px 15px;
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, .65);
    }
  }
  &-header, &-footer {
    flex: 0 0 auto;
  }
  &-header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    background: #001529;
    &.fixed-header {
      position: fixed;
      top: 0;
      transition: width .2s;
    }
    .global-header {
      position: relative;
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
      &-trigger {
        height: 64px;
        padding: 0 12px;
        transition: all .3s;
        cursor: pointer;
        &:hover {
          background-color: #fafafa;
        }
        i {
          font-size: 22px;
        }
      }
      &-right {
        .dropdown-trigger {
          display: inline-block;
          height: 100%;
          padding: 0 12px;
          cursor: pointer;
          transition: all .3s;
          &:hover {
            background: rgba(0, 0, 0, .025);
          }
        }
      }
    }
    .top-nav-header {
      position: relative;
      width: 100%;
      height: 64px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
      transition: background .3s, width .2s;
      &-main {
        display: flex;
        height: 64px;
        padding: 0 16px;
        &.wide {
          max-width: 1200px;
          margin: auto;
        }
      }
      .logo {
        position: relative;
        width: 165px;
        height: 64px;
        overflow: hidden;
        line-height: 64px;
        transition: all .3s;
        img {
          display: inline-block;
          height: 32px;
          vertical-align: middle;
        }
        h1 {
          display: inline-block;
          margin: 0 0 0 12px;
          font-weight: 400;
          font-size: 16px;
          vertical-align: top;
          color: #ffffff;
        }
      }
      .dropdown-trigger {
        color: hsla(0, 0%, 100%, .85);
        &:hover {
          background: #1890ff;
        }
      }
      .bin-menu-wrapper {
        height: 64px;
        line-height: 64px;
      }
    }
    .tags-view-container {
      padding: 6px 16px 5px;
      background-color: #f5f7f9;
      box-shadow: 0 0 3px rgba(0, 21, 41, .08) inset;
      border-bottom: 1px solid #e5e8ef;
      line-height: 1;
    }
  }
  &-main {
    position: relative;
    flex: auto;
    transition: all .2s;
    min-height: 0;
  }
  &-content-wrap {
    position: relative;
    width: 100%;
    min-height: 100%;
    transition: .3s;
    &.wide {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  &-footer {
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    background: #f5f7f9;
    .global-footer {
      margin: 48px 0 24px;
      padding: 0 16px;
      text-align: center;
    }
  }
}

// 主题弹窗样式
.setting-panel {
  padding: 0 4px;
  .theme-tab {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    .icon-ios-checkmark {
      position: absolute;
      right: 2px;
      bottom: 10px;
      font-size: 30px;
      color: #1890ff;
    }
  }
}
.setting-theme-title {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
.setting-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

// 顶部菜单样式
.header-menu {
  height: 64px;
  .bin-tabs-wrapper {
    height: 64px;
    .nav-wrapper {
      height: 64px;
      bottom: 0;
      &.is-scrollable {
        .nav-next, .nav-prev {
          line-height: 64px;
        }
      }
    }
    &.card {
      border: none;
      .tab-list {
        border: none;
      }
      .tab-item {
        box-sizing: border-box;
        border: none;
        height: 64px;
        line-height: 64px;
        > i {
          font-size: 18px;
        }
        &.active {
          border-bottom: 2px solid #0d85ff;
        }
      }
    }
  }
}

// 左侧菜单抽屉样式
.menu-panel {
  padding: 24px 0;
  .group-container {
    margin-bottom: 12px;
  }
  .side-nav-title {
    margin: 6px 0;
    padding: 0 12px;
    color: #2a3040;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    .iconfont {
      font-weight: normal;
      vertical-align: -1px;
    }
  }
  .side-nav-items {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
  }
  .side-nav-group {
    padding: 8px 0 8px 24px;
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  .side-nav-menu {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 8px 24px 8px 40px;
    color: #3f536e;
    font-size: 14px;
    transition: .3s;
    &.not-group {
      padding: 8px 24px;
    }
    &:hover {
      color: #2d8cf0;
      background: #f0faff;
    }

    &.active {
      color: #2d8cf0;
      background: #f0faff;
      &::after {
        content: "";
        display: block;
        width: 3px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: #2d8cf0;
      }
    }
  }
}
// 全局收起菜单样式
.collased-menu-dropdown {
  width: 100%;
  margin: 0;
  line-height: normal;
  padding: 6px 0 6px 12px;
  clear: both;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
  .drop-menu-a {
    display: inline-block;
    width: 100%;
    position: relative;
    color: rgba(0, 0, 0, .65);
    .icon-ios-arrow-forward {
      position: absolute;
      top: 2px;
      right: 4px;
      transition: transform .2s;
    }
  }
}
.layout.layout-has-aside > .layout, .layout.layout-has-aside > .layout-content {
  overflow-x: hidden;
}


